$container: 1280;
$padding: 20;
$containerWithPadding: $container + ($padding * 2);

$black: #212121;
$grey: #4D4D4D;
$soft_grey: #7A7A7A;
$white: #ffffff;
$accent: #FFD400;
$accent_hover: #FFE57B;
$bgc: #F6F6F6;
$secondary_btn: #F2F2F2;